@font-face {
    font-family: 'CalendasPlus';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/CalendasPlus/Calendas_Plus.eot');
    src: url('fonts/CalendasPlus/Calendas_Plus.eot') format('embedded-opentype'),
         url('fonts/CalendasPlus/Calendas_Plus.woff2') format('woff2'),
         url('fonts/CalendasPlus/Calendas_Plus.woff') format('woff'),
         url('fonts/CalendasPlus/Calendas_Plus.ttf') format('truetype'),
         url('fonts/CalendasPlus/Calendas_Plus.svg#Calendas_Plus') format('svg');
}
@font-face {
    font-family: 'CalendasPlus';
    font-style: normal;
    font-weight: bold;
    src: url('fonts/CalendasPlusBold/Calendas_Plus_Bold.eot');
    src: url('fonts/CalendasPlusBold/Calendas_Plus_Bold.eot') format('embedded-opentype'),
         url('fonts/CalendasPlusBold/Calendas_Plus_Bold.woff2') format('woff2'),
         url('fonts/CalendasPlusBold/Calendas_Plus_Bold.woff') format('woff'),
         url('fonts/CalendasPlusBold/Calendas_Plus_Bold.ttf') format('truetype'),
         url('fonts/CalendasPlusBold/Calendas_Plus_Bold.svg#Calendas_Plus_Bold') format('svg');
}
