<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="utf-8">
	<title>{% if not is_front_page %}{{ meta.title }} &middot; {% endif %}{{ site_title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ meta.description }}">
	<meta name="author" content="{{ meta.author }}">
	<!-- <meta name="robots" content="{{ meta.robots }}"> -->
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Playfair+Display:400,400i,700,700i&subset=latin-ext" rel="stylesheet">
	<!-- CSS -->
	<link href="{{ theme_url }}/style.css" rel="stylesheet">
	<!-- JS -->
	<script src="{{ theme_url }}/js/modernizr-2.6.1.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="{{ theme_url }}/js/jquery.typographer.min.pack.js"></script>
	<!-- <script type="text/javascript" src="{{ theme_url }}/js/jquery.sticky-kit.min.js"></script> -->
	<!-- Typography -->
	<script>
	$(document).ready(function() {
		// $(".masthead").stick_in_parent();
		$('.content').typographer({
			modules: ['orphan', 'punctuation'],
			punctuation: {
				correction: ['quotes']
			}
		});
	})
	</script>
</head>
<body>
	<div class="container-narrow">

		<!-- Navigation -->

		<div class="masthead">
			<div class="masthead-content">
				<div class="logo">
					<a href="{{ base_url }}"><img src="{{ theme_url }}/images/logo-oko.png" /></a>
				</div>
				<div class="lead">
					<h3>HC SVNT DRACONES</h3>
				</div>
				<br>
				<hr>
				<ul class="nav">
					<li><a href="{{ base_url }}">Blog</a></li>
					<li><a href="{{ base_url }}/autor">Autor</a></li>
					<li><a href="{{ base_url }}/faq">FAQ</a></li>
				</ul>
				<hr>
				<br>
				{% if not is_front_page %}
				<div class="top-blog-nav">
					<div class="prev-button">
						{% if prev_page.date %}
						<a class="btn-black" href="{{ prev_page.url }}">&laquo; Poprzedni wpis</a>
						{% endif %}
					</div>
					<div class="next-button">
						{% if next_page.date %}
						<a class="btn-black" href="{{ next_page.url }}">Następny wpis &raquo;</a>
						{% endif %}
					</div>
				</div>
				{% endif %}
			</div> <!-- /masthead-content -->
		</div> <!-- /masthead -->
		<div class="main">

			<!-- Front page -->

			{% if is_front_page %}
			{% for page in pages %}
				{% if page.date %}
				<div class="post-listing">
					<div class="post-date">
						<p>{{ page.date_formatted }}</p>
					</div>
					<div class="post-title">
						<p><a href="{{ page.url }}">{{ page.title }}</a></p>
					</div>
				</div>
				{% endif %}
			{% endfor %}

			<!-- Single page -->

			{% else %}
			<article class="single">
				{% if current_page.date %}
				<h1>{{ meta.title }}</h1>
				<section class="meta">
					<p>{{ meta.date_formatted }}</p>
				</section>
				{% endif %}
				<section class="content">
					{{ content }}
				</section>
				{% if current_page.date %}
				<hr>
				<section class="comments">
					<h2>Komentarze</h2>
					<h3>Tak, możesz komentować bez logowania się - kliknij <em>"Nazwa"</em> i zaznacz pole <em>"Wolę pisać jako gość"</em>.</h3>
					<br>
					{{ disqus_comments }}
				</section>
				{% endif %}
			</article>
			{% endif %}

		<!-- Footer -->

		</div> <!-- /main -->
		<hr>
		<footer class="footer">
			<div class="prev-button">
				{% if prev_page.date %}
				<a class="btn-red" href="{{ prev_page.url }}">&laquo; Poprzedni wpis</a>
				{% endif %}
			</div>
			<div class="colophon">
				<p>2008-2016 &copy; Astrolabium</p>
			</div>
			<div class="next-button">
				{% if next_page.date %}
				<a class="btn-red" href="{{ next_page.url }}">Następny wpis &raquo;</a>
				{% endif %}
			</div>
		</footer>

	</div> <!-- /container -->

<!--   -><- FNORD -><-   -->
</body>
</html>
